{% extends "layout.html" %}
{% block content %}
    <div class = "content-section">
        <form method="POST" action= "">
            {{ form.hidden_tag() }}
            <fieldset class= "form-group" >
                <h4>Reset Password</h4>
                <div class="form-group">
                    <label class="control-label col-sm-2" for="email">Email</label>
                    {% if form.email.errors %}
                        {{ form.email( class= "is-invalid") }}
                        <div class= "invalid-feedback">
                            {% for error in form.email.errors %}
                                <span> {{ error }} </span>
                            {% endfor %}                     
                        </div>

                    {% else %}
                        <input class="form-control" id="email" name="email" placeholder="type your email">
                    {% endif %}
                </div>
            </fieldset>
            <div class="login_button">
                <button type="submit" class="submit">Request Password Reset</button>
            </div>
        </form>        
    </div>
{% endblock content %}