{% extends "layout.html" %}
{% block content %}
    <div class = "content-section">
        <h1> About Veggy </h1><br>
        <p style ='font-size: 20px'>A free-to-access vegan and vegetarian community for sharing recipes, health and travel advice.</p><br>
        <p style ='font-size: 20px'>Content submitted express the views of their author only.
            We will not accept liability provided to you via user-generated content.</p><br>

        <h1> Contact Us </h1><br>
        <p style ='font-size: 20px'>Email: veggy.team@gmail.com</p><br>
    </div>
{% endblock content %}