{% extends "layout.html" %}
{% block content %}
    <div class = "content-section">
        <h1> Privacy Policy </h1><br>
        <p style ='font-size: 18px'>We are Vegan Forum ("we", "our", "us"). 
            We’re committed to protecting and respecting your privacy. 
            If you have questions about your personal information please contact us.</p><br>
        <h2>What information we hold about you </h2><br>
        <p style ='font-size: 18px'>The type of data that we collect and process includes:</p><br>
        <div style ='font-size: 18px; margin-left: 20px'>
            <li>  Your name or username.</li>
            <li>  Your email address.</li><br>
        </div>

        <p style ='font-size: 18px'>Further data may be collected if you choose to share it, such as if you fill out fields on your profile</p><br>
        <p style ='font-size: 18px'>We collect some or all of this information in the following cases:</p><br>
        <div style ='font-size: 18px; margin-left: 20px'>
            <li>  You register as a member on this site.</li>
            <li>  You fill out our contact form.</li><br>
            <li>  You browse this site. See "Cookie policy" below.</li>
            <li>  You fill out fields on your profile.</li><br>
        </div>

        <h2>How your personal information is used</h2><br>
        <p style ='font-size: 18px'>We may use your personal information in the following ways:</p><br>
        <div style ='font-size: 18px; margin-left: 20px'>
            <li>  For the purposes of making you a registered member of our site, in order for you to contribute content to this site.</li>
            <li>  We may use your email address to inform you of activity on our site.</li><br>
        </div>

        <h2>Other ways we may use your personal information </h2><br>
        <div style ='font-size: 18px; margin-left: 20px'>
            <p>  We may collect non-personally identifiable information about you in the course of your interaction with our site. 
                This information may include technical information about the browser or type of device you're using. 
                This information will be used purely for the purposes of analytics and tracking the number of visitors to our site.</p><br>
        </div>

        <h2>Cookie policy </h2><br>
        <div style ='font-size: 18px; margin-left: 20px'>
            <p> Cookies are small text files which are set by us on your computer 
                which allow us to provide certain functionality on our site, such as being able to log in, or remembering certain preferences.</p><br>
        </div>

        <h2>Acceptance of this policy </h2><br>
        <div style ='font-size: 18px; margin-left: 20px'>
            <p> Continued use of our site signifies your acceptance of this policy. If you do not accept the policy then please do not use this site. 
                When registering we will further request your explicit acceptance of the privacy policy.</p><br>
        </div>

        
        <h2>Changes to this policy </h2><br>
        <div style ='font-size: 18px; margin-left: 20px'>
            <p> We may make changes to this policy at any time. 
                You may be asked to review and re-accept the information in this policy if it changes in the future.</p><br>
        </div>
    </div>
{% endblock content %}