{% extends "layout.html" %}
{% block content %}
    <div class = "content-section">
        <h1> Terms and Rules </h1><br>
        
        <h2><img src="/static/images/leaf.png" style= 'margin-right: 6px'>MEMBERSHIP RULES </h2><br>
        <div style ='font-size: 20px'>
            <p>1. It's not required that you be either a vegan, 
                vegetarian or even have immediate plans to give up animal products in order to become a member. 
                However, as VF is a vegan lifestyle community where a vegan lifestyle is promoted, 
                we will not tolerate members who promote contrary agendas.
            </p><br>
            <p>2. You must be at least 13 years old.</p><br>
            <p>3. Don't share your account with others. 
                The account is personal, i.e. for one person, and it's not for companies or web sites. 
            </p><br>
            <p>4. Don't use your account mainly for business promotion of web sites, web pages, products, or companies. 
            </p><br>
            <p>5. Don't cross-post content into multiple threads. 
                While posts / topics can sometimes fit into multiple threads / categories, we ask that you choose only one so as to keep all of the conversation in one place. 
                If you need help deciding, please talk to a staff member.
            </p><br>
            <p>6. Don't engage in name-calling or ad hominem attacks against fellow members or ex-members, 
                and don't "react" positively to posts with such content.
            </p><br>
            <p>7. Don't post information from private conversations anywhere 
                unless you have been given permission to do so.
            </p><br>
            <p>8. Don't post links to external content (e.g. videos or web pages) in discussion threads 
                'without' at least a brief comment to explain your own view / position on the content.</p><br>
        </div>


        <h2> <img src="/static/images/leaf.png" style= 'margin-right: 6px'>TERMS </h2><br>
        <div style ='font-size: 20px'>
            <p>The providers ("we", "us", "our") of the service provided by this web site ("Service") 
                are not responsible for any user-generated content and accounts ("Content").
                Content submitted express the views of their author only. 
                We will not accept liability provided to you via user-generated content.
            </p><br>
            <p>We do not provide medical advice. 
                Information which includes sharing personal experiences or advise on this web site should never replace a doctor’s or other qualified clinician’s advice and recommendations. 
                Patients should not use the information contained herein for diagnosing a health or fitness problem or disease. 
                A doctor or other qualified clinician is the best resource to consult regarding what is best for medical conditions, for diagnosis, medical advice and treatment.
            </p><br>
            <p>You agree to not use the service to submit or upload any content 
                which is deemed to be any of the following: hateful or ridiculing 
                (incl. towards a particular species, race, gender, or age), threatening, spam or spam-like, 
                likely to offend (remember we are a vegan forum, but content for educational purposes is allowed), 
                anything remotely 'adult' in nature (except where explicitly allowed in certain non-public sub-forums), 
                content containing personal information (whether it be yours or someone else’s), 
                copyrighted material, anything that encourages unlawful activity or violates any laws. 
                We ask you also to bear in mind the forum's minimum member age. 
                If you are unsure the content you are about to submit breaks any of these terms please get in touch before you submit.
            </p><br>
            <p>All Content you submit or upload may be reviewed by staff members.
                All Content you submit or upload may be sent to third-party verification services 
                (including, but not limited to, spam prevention services).
                Do not submit any Content that you consider to be private or confidential.
            </p><br>
            <p>We reserve the rights to remove or modify any Content submitted for any reason without explanation. 
                Requests for Content to be removed or modified will be undertaken only at our discretion. 
                We reserve the right to take action against any account with the Service at any time.
            </p><br>
            <p>You are granting us with a non-exclusive, permanent, irrevocable, 
                unlimited license to use, publish, or re-publish your Content in connection with the Service. 
                You retain copyright over the Content.
            </p><br>
            <p>Advertising of any form is strictly prohibited
            </p><br>
            <p>These terms may be changed at any time without notice.
                If you do not agree with these terms, please do not register or use this Service. 
                If you wish to close your account, please contact us (for contact see 'About us').
            </p><br>
        </div>
    </div>
{% endblock content %}


